.vast-skip-button {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: auto;
    background-color: #000;
    color: #AAA;
    font-size: 12px;
    font-style: italic;
    line-height: 12px;
    padding: 10px;
    z-index: 2;
}

.vast-skip-button.enabled {
    cursor: pointer;
    color: #fff;
}

.vast-skip-button.enabled:hover {
    cursor: pointer;
    background: #333;
}

.vast-blocker {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.vast-overlay{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 55px;
}
.vast-button {
    display: none;
    position: absolute;
    background-color: lightgrey;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 0;
    color: black;
    text-decoration: none;
}
.vast-button:hover {
    background-color: darkgray;
}

.vast-button.collapse{
    top: -7px;
    right: -7px;
}
.vast-button.expand{
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
    cursor: pointer;
    opacity: 0.5;
}
.vast-button.expand:hover {
    opacity: 1;

}

.vast-companion-ad a{
    display: inline-block;
}